.footer{
    /* display: flex; */
    background: #121212;
    padding:30px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }
  